@use 'variable';


.test {
  font-style: italic;
  background-color: variable.$red-color;
}
h1 {
  color: variable.$red-color;
}

.container {
  background-color: blue;
  width: 100px;
  height: 100px;
}